# Setuptools distribution folder.
/dist/
/build/

pycantonese/__pycache__/
/pycantonese.egg-info

build-doc.sh
pypi_upload.sh

/.idea/
/test_dev/
/doc/

insert_social_media_links.py
update_copyright_year.py

*~
*.pyc
